* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

.boton-carrito {
    background-color: #fff;
    color: #28a745;
    padding: 8px 12px;
}

main {
    flex: 1;
    padding: 20px;
}

.productos {
    display: flex;
    justify-content: space-around;
 
}

.producto {
    background-color: white;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 200px; /* Ancho fijo para los productos */
}

.producto img {
    max-width: 100%;
    justify-content: center;
}

.precio {
    font-weight: bold;
    margin: 10px 0;
}

.boton {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
}

.boton:hover {
    background-color: #218838;
}

.carrito {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    
  
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #28a745;
    color: white;
    bottom: 0;
    width: 100%;
    
}
